<div id="<%= dom_id issue %>">
  <h2><%= issue.title %></h2>
  <p><%= issue.description %></p>
  <p><%= issue.status %></p>
  <p><%= issue.priority %></p>
  <p><%= issue.user.name %></p>
  <p><%= issue.user.apartment_number %></p>
  <p><%= issue.created_at %></p>
  <p><%= issue.updated_at %></p>
</div>
